*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 800px;

} 
.newsExcerpt{
    border: 2px black solid;
    border-radius: 3px 3px;
    height: 90px;
    margin: 3px 3px;
    padding: 2px 2px;
}

.row1{
    display: flex;
}

.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.user{
    flex-basis: 70%;
    margin:0 0;
}

.vote{
    flex-basis: 30%;
    margin:0 0;
}

.user > p {
    margin:0 0;
}
 
.vote > p{
    margin:0 0;
}

.header{
    background-color: darkslategray;
    height: 25px;
}

.header ul {
    display: flex;
    margin : 0 0; 
}

.navbar-element {
    margin:3px;
    color: white;
    list-style-type: none;
    padding: 0;
}

.navbar-element:hover {
    background-color: beige;
    color: black;
    cursor: pointer;
}

.pagination-element{
    display: inline;
    height: 20px;
    margin-right: 4px;
}

@media only screen and (max-width: 700px) {

    .newsExcerpt{
        border: 2px black solid;
        border-radius: 3px 3px;
        height: 100px;
        margin: 3px 3px;
        padding: 2px 2px;
    }

    .header{
        height: 25px;
        
    }
}